:root {
  --border-radius-default: 8px;

  --font-default: "Rambla", sans-serif;

  --font-size: 24px;

  --flex-gap: 24px;
}

::-webkit-scrollbar {
  position: absolute;
  width: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: var(--border-radius-default);
}
::-webkit-scrollbar-track {
  margin: 18px 0px 0px 0px;
}

html,
body {
  width: 100%;
  height: 100%;

  overflow-y: visible;
  overflow-x: hidden;

  line-height: 1.15;
  text-size-adjust: 100%;
}

body {
  margin: 0px;

  font-family: var(--font-default);
}

div {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0px;
}

p {
  display: block;

  margin-block-start: 1em;
  margin-block-end: 1em;

  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
}

section {
  display: block;
}

img {
  border-style: none;
}

.block {
  display: block;
}
.inline {
  display: inline-block;
}

.img-container {
  position: relative;

  min-height: 75vh;

  padding: 30px 0px 75px;

  background: rgb(0, 9, 19);
}
.background {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 80vh;

  max-height: 800px;

  overflow: hidden;
}
.champion-img {
    position: absolute;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
}
.champion-img::after {
  content: "";

  position: absolute;

  left: 0px;
  bottom: -10%;

  width: 100%;
  height: 50%;

  background: linear-gradient(
    transparent, 
    rgb(0, 9, 19) 70%);
}
.champion-img img {
    object-fit: cover;
    object-position: center 20%;

    display: block;

    width: 100%;
    height: 100%;
    filter: blur(8px);
    animation: 3000ms
    cubic-bezier(0.215, 0.61, 0.355, 1)
    500ms 1 normal both running fadeOut;
}
@keyframes fadeOut {
    0% {opacity: 0;}
    100% {opacity: 0.3;}
}

.img-center {
    box-sizing: border-box;
    max-width: 1335px;
    padding: 0px 3.75rem;
    margin: 0px auto;
}
.img-center-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 59.01%;
    -webkit-mask-image: linear-gradient(
        rgb(0, 0, 0) 65%,
        rgba(0, 0, 0, 0) 98%
    );
}
.img-center-container img {
    object-fit: cover;
    object-position: center 20%;

    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    animation: 2000ms
    cubic-bezier(0.215, 0.61, 0.355, 1)
    700ms 1 normal both running fadeIn;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(208, 167, 92, 0.972);

  position: absolute;

  width: 152px;
  height: 32px;

  top: 30px;
  left: 30px;

  --notchSize: 10px;

  animation-duration: 0.1s;
  animation-name: comprime;

  clip-path: polygon(
    0% 0%,
    0% 0%,
    calc(100% - var(--notchSize)) 0%,
    100% var(--notchSize),
    100% 0%,
    100% 100%,
    var(--notchSize) 100%,
    0% calc(100% - var(--notchSize))
  );
}
.back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  position: absolute;

  width: 150px;
  height: 30px;

  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;

  cursor: pointer;

  padding: 0px;


  --notchSize: 10px;

  animation-duration: 100ms;
  animation-name: comprime;

  clip-path: polygon(
    0% 0%,
    0% 0%,
    calc(100% - var(--notchSize)) 0%,
    100% var(--notchSize),
    100% 0%,
    100% 100%,
    var(--notchSize) 100%,
    0% calc(100% - var(--notchSize))
  );

}
.back-button:hover, .button-container:hover {
  animation-duration: 0.3s;
  animation-name: expand;

  clip-path: polygon(
      0% 0%,
      0% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 100%,
      0% 100%,
      0% 100%
    );
} 
@keyframes expand {
  0% {
    clip-path: polygon(
      0% 0%,
      0% 0%,
      calc(100% - var(--notchSize)) 0%,
      100% var(--notchSize),
      100% 0%,
      100% 100%,
      var(--notchSize) 100%,
      0% calc(100% - var(--notchSize))
    );
  }
  100% {
    clip-path: polygon(
      0% 0%,
      0% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 100%,
      0% 100%,
      0% 100%
    );
  }
}
@keyframes comprime {
  0% {
    clip-path: polygon(
      0% 0%,
      0% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 100%,
      0% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      0% 0%,
      0% 0%,
      calc(100% - var(--notchSize)) 0%,
      100% var(--notchSize),
      100% 0%,
      100% 100%,
      var(--notchSize) 100%,
      0% calc(100% - var(--notchSize))
    );
  }
}
.back-button > i {
  margin-right: 12px;
}
.back-button > p {
  margin: 0px;
  padding: 0px;
}

/* Description container */

.description {
  position: relative;
  margin: -5.625rem 3.75rem 0px;
}
.description-container {
  position: absolute;
  inset: 1px;
  pointer-events: none;
}
.description-canvas {

  padding: 0px;

  position: absolute;
  display: block;
}

.champion {
  position: relative;

  top: -5rem;

  margin-bottom: -5rem;
  
  letter-spacing: 0.1em;
}
.champion > div:first-child {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(255, 255, 255);
}
.champion h1:first-child {
  margin: 0px;
  font-weight: normal;
}
.title {
  text-transform: uppercase;

  font-style: italic;
}
.champ-title {
  animation-duration: 1.5s;
  animation-delay: .5s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  animation-name: toTheLeft;
  clip-path: polygon(0% 0%, 0% 200%, 200% 0%);
}
.champ-title span {
  font-size: 1.5rem;

  font-weight: 500;

  letter-spacing: 0.1rem;
}


.name {
  text-transform: uppercase;
  font-style: italic;

  font-weight: bold;
}
.champ-name {

  animation-duration:1.5s;
  animation-delay: .5s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  animation-name: toTheRight;
  clip-path: polygon(0% 0%, 200% 0%, 0% 200%);
}
.unshown {
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
}
.champ-name span {
  display: block;

  padding: 0px 15px 10px;

  margin-bottom: -10px;

  font-weight: bold;

  font-size: 120px;

  letter-spacing: 1rem;
}
@keyframes toTheRight {
  0% { clip-path: polygon(0% 0%, 0% 0%, 0% 0%);}
  100% { clip-path: polygon(0% 0%, 200% 0%, 0% 200%);}
}
@keyframes toTheLeft {
  0% { clip-path: polygon(100% 100%, 0% 200%, 200% 0%);}
  100% { clip-path: polygon(0% 0%, 0% 200%, 200% 0%);}
}

/* Information */
.information {
  display: flex;
  flex-direction: row;
}
.information > div:first-child {
  box-sizing: border-box;

  width: 50%;

  padding: 3.75rem;
}
.information > div:nth-child(2) {
  width: 1px;

  margin: 2.5rem 0px;
  
  background-color: rgba(255, 255, 255, 0.2);

  transform-origin: center top;
}
.information > div:nth-child(3) {
  box-sizing: border-box;

  display: flex;
  -webkit-box-align: center;
  align-items: center;

  width: 50%;

  padding: 3.75rem;
}
.information > div:nth-child(3) p {
  max-width: 100%;

  margin-top: 0px;

  color: rgb(255, 255, 255);

  font-size: 0.875rem;

  line-height: 1.28571;

  letter-spacing: 0.08em;
}
.information > div:nth-child(3) p > button {
  padding: 0px;
  border: 0px;

  background-color: transparent;
  color: rgb(208, 168, 92);

  font-size: 0.625rem;

  text-transform: uppercase;

  cursor: pointer;
}

.information-content {
  list-style: none;

  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: space-around;

  width: 100%;
}
.information-content li {
  display: block;
  text-align: center;
  color: rgb(208, 168, 92);
  font-size: 0.625rem;
  letter-spacing: 0.15em;
}
.content {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0px auto;
}
.content > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;

  vertical-align: middle;

  width: 36px;
  height: 36px;

  padding: 7px;

  fill: rgb(208, 168, 92);
}
.content > div:first-child > img {
  width: 40px;
  height: 40px;
}
.information-content li > div:nth-child(2) {
  width: 100%;
  margin-top: 0.9375rem;
  color: rgb(255, 255, 255);
}
.information-content li > div:nth-child(3) {
  width: 100%;
  margin-top: 0.125rem;
  color: rgb(208, 168, 92);
  font-weight: normal;
}
.information-content > li:nth-child(2) > div:first-child {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0px auto;
}
.information-content > li:nth-child(2) > div:first-child > span:first-child {
  display: block;
  width: 50px;
  position: relative;
  top: 20px;

  max-width: 100%;
  width: 100px;
  height: 10px;
  display: inline-block;
}
.information-content > li:nth-child(2) > div:first-child > span:first-child > span {
  display: inline-block;

  width: 100%;
  height: 100%;

  padding: 0px 8% 0px 5%;

  box-sizing: border-box;
  white-space: nowrap;
}

.rol, .dificulty {
  text-align: center;
  text-transform: uppercase;

  font-size: 0.625rem;

  letter-spacing: 0.15em;
}
.dificulty {
  display: inline-block;

  width: 30.6667%;
  height: 100%;

  padding-right: 0px;
  margin: 0px -1px;

  opacity: 1;

  background-color: rgb(8, 215, 247);

  background-clip: content-box;

  transform: skewX(-40deg);
}
.other {
  opacity: 0.2;
}

/* Skins */

.skins-container {
  box-sizing: border-box;

  padding: 80px 3rem;
  margin: 0px auto;

  max-width: 1450px;
}
.skin-img-container {
  min-width: 1350px;
  height: 800px;
}
.skins-container > div > div {
  position: relative;
}
.skins {
  position: absolute;

  left: 0px;
  top: 0px;

  height: 100%;
  width: 25%;

  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 8px 0px 0px 8px;
}
.skins > h1 {
  height: 9.9%;

  text-align: center;
  text-transform: uppercase;

  letter-spacing: 0px;

  padding: 0px;
  margin: 0px;

  color: white;

  font-size: 60px;
  font-style: italic;
}
.skins > div {
  width: 80%;
  height: .1%;

  margin: .1px auto;

  background-color: rgb(208, 168, 92);
}
.skin-img {
  object-fit: cover;
  object-position: center 20%;

  position: relative;
  left: 0px;
  top: 0px;

  width: 100%;
  height: 100%;

  border-radius: var(--border-radius-default);

  opacity: 0;
}
.skin-img.selected {
  animation-duration: 1000ms;
  animation-name: fadeIn;
  opacity: 1;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#CONTENEDOR {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  height: 90%;

  padding: 0px;
  margin: 0px;

  gap: var(--flex-gap);

  cursor: default;
}
#SKINS_CONTAINER {
  height: 89.9%;

  margin: 0px;

  overflow-x: hidden;
  overflow-y: auto;
}
#SKINS_CONTAINER::-webkit-scrollbar-track {
  margin: 0px;
}
#SKINS_CONTAINER::-webkit-scrollbar-thumb {
  background-color: transparent;
}
#CONTENEDOR > li:first-child {
  margin: var(--flex-gap) 0px 0px;
}
#CONTENEDOR > li:last-child {
  padding-bottom: var(--flex-gap);
}
#CONTENEDOR > li {
  display: flex;
  flex-direction: row;
  align-items: center;

  list-style: none;

  width: 100%;
  height: auto;

  padding: 0px 12px 0px;
  margin: 0px;

  box-sizing: border-box;
}
#CONTENEDOR > li:hover {
  transform: scale(1.1);

  margin-left: 24px;

  background-color: rgba(0, 0, 0, .1);
}
#CONTENEDOR > li.selected {
  transform: scale(1.1);

  margin-left: 24px;

  background-color: rgba(0, 0, 0, .1);
}
#CONTENEDOR > li img {
  width: 100px;
  height: 100px;

  object-position: 100%;

  object-fit: cover;

  border-radius: var(--border-radius-default) 0px 0px var(--border-radius-default);
}

#CONTENEDOR > li > h1 {
  width: 100%;

  margin: 0px 24px 0px;
  
  align-self: center;
  text-align: center;

  text-transform: uppercase;

  font-size: medium;
  font-weight: 400;

  color: white;
}

/* Abilities */
#ABILITIES_CONTAINER {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80%;

  margin: 10rem auto 0px;
}
#ABILITIES_CONTAINER > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
#ABILITIES_CONTAINER > div:nth-child(2) {
  width: 20%;
  height: 1px;
  margin: 0px 10%;
  background-color: rgb(208, 168, 92);
}
#ABILITIES_CONTAINER > div:first-child > h1 {
  display: inline-block;

  height: 9%;

  text-transform: uppercase;

  letter-spacing: 0px;

  padding: 0px;
  margin: 0px;

  color: white;

  font-size: 60px;
  font-style: italic;
}
.passive, .abilities {
  color: white;

  font-size: medium;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  margin-top: 24px;

  gap: 34px;
}
.abilities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;

  cursor: pointer;
}
.bar > div:first-child > img {
  width: 50%;
  height: 50%;
}
.bar > div > img {
  width: 100%;
  height: 100%;
}

.video-container {
  display: none;
}
.video-container.active {
  display: flex;
  flex-direction: row;

  margin-top: 60px;
}
.ability-video {
  width: 720px;
  height: 440px;

  border: 1px solid white;

  margin-right: 5rem;

  object-fit: cover;
}
.stats {
  width: 400px;
}
.stats > p {
  width: 400px;
  height: 45px;

  text-transform: uppercase;

  letter-spacing: 0px;

  padding: 0px;
  margin: 0px;

  color: rgb(208, 168, 92);

  font-size: 25px;
  font-style: italic;
}

.abi-des {
  width: 800px;
}
.abi-des > div {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: center;

  margin-bottom: 24px;

  gap: 24px;
}
.ability-name {
  font-size: 25px;

  color: white;

  font-style: italic;
  text-transform: uppercase;

  margin: 0px;
}
.abi-des > div > p {
  color: gray;

  text-transform: uppercase;

  margin: 0px;
}
.ability-description {
  height: 45px;
}
.ability-description {
  text-transform: uppercase;

  letter-spacing: 0px;

  padding: 0px;
  margin: 0px;

  color: rgb(208, 168, 92);

  font-size: 15px;
}



@media (max-width: 1024px) {
  .img-container {
    padding: 30px 0px 75px;
  }
  .img-center, .skins-container{
    padding: 0px 0.65rem;
  }
}
@media (max-width: 425px) {
  .champion {
    top: -3.5rem;
  }

  .img-container {
    padding: 10px 0px 25px;
  }

  .description {
    margin: 75px 0px 0px;
  }

  #title {
    font-size: 15px;
  }
  #name, .skins-container > div:first-child > h1:first-child {
    font-size: 50px;
    letter-spacing: 2px;
  }

  .information {
    flex-direction: column;
    align-items: center;
  }
  .information > div:first-child {
    margin-top: 40px;
  }
  .information > div:nth-child(2) {
    width: 80%;
    height: 1px;
    margin: 1.5rem 0px;
  }
  .information > div:first-child, .information > div:nth-child(3) {
    padding: 0.5rem;

    width: 100%;
  }

  #CANVAS {
    left: 0px;
    top: 0px;

    padding: 0px;
  }

  /* BUTTON */
  .button-container {
    width: 32px;
  }
  .back-button {
    width: 30px;
  }
  .back-button > i {
    margin: 0px;
  }
  .back-button > p {
    display: none;
  }

  /* ABILITIES */
  #ABILITIES_CONTAINER {
    width: 100%;

    margin: 100px 0px 0px;
  }
  #ABILITIES_CONTAINER > div:first-child > h1 {
    font-size: 50px;

    max-width: 300px;
  }
  #ABILITIES_CONTAINER > div:nth-child(2) {
    width: 60%;
    
    margin: 0px auto;
  }

  .bar {
    gap: 12px;
  }
  .abilities {
    width: 50px;
    height: 50px;
  }

  .video-container.active {
    flex-direction: column;

    margin: 30px 12px 0px;
  }
  #ABILITIES_CONTAINER > section {
    width: 100%;
  }
  .ability-video {
    width: auto;
    height: auto;

    margin: 0px 0px 20px;
  }
  .abi-des {
    width: auto;
  }
  .abi-des > div:first-child {
    justify-content: center;
  }
  .ability-description {
    height: auto;


    margin: 0px 12px;
  }

  /* Skins */

  .skins-container {
    margin-top: 30px;
    
    padding: 0px;

    max-width: none;
    width: 100%;
  }

  .skins {
    position: initial;

    width: 100%;

    background-color: transparent;
  }
  .skins > h1 {
    color: black;
  }

  .skin-img-container {
    min-width: auto;
    height: auto;
  }
  .skin-img {
    border-radius: 0px;

    margin: 0px;

    box-sizing: border-box;

    padding: 8px;
  }

  #SKINS_CONTAINER {
    padding: 0px;

    margin: 8px auto 0px;

    width: 300px;

    overflow-y: hidden;
    overflow-x: scroll;

    box-sizing: border-box;
  }
  #CONTENEDOR {
    flex-direction: row;
    align-items: center;

    gap: 20px;

    transition-duration: 500ms;
    transform: translateX(100px);
  }
  #CONTENEDOR > li:first-child {
    margin: 0px;
  }
  #CONTENEDOR > li:last-child {
    margin: 0px;

    padding: 0px;
  }
  #CONTENEDOR > li {
    padding: 0px;
  }
  #CONTENEDOR > li:hover, #CONTENEDOR > li.selected {
    transform: scale(1);
    margin: 0px;
    background-color: transparent;
  }
  #CONTENEDOR > li > img {
    border-radius: 0px;

    width: 100px;
    height: 60px;
  }
  #CONTENEDOR > li > h1 {
    display: none;
  }
}